/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  /* color: #fff; */
}
/* #hompage a,
#hompage a:focus,
#hompage a:hover {
  color: #222;
} */

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.bg-gray {
  background: #f1f1f5;
}

/* Custom default button */
.btn {
	line-height: 1;
	box-shadow: 0 16px 60px 0 rgba(28,95,83,.2);
	position: relative;
	font-weight: 500;
	transition: all .3s ease;
	vertical-align: middle;
	outline: none;
}
.btn:hover {
	transform: translateY(-1px);
	box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
  cursor: pointer;
}

.btn-lg {
	padding: 20px 28px 18px;
}

.btn-special {
	border-radius: 100px;
	display: inline-block;
	text-transform: uppercase;
	text-shadow: none; /* Prevent inheritance from `body` */
	background-color: #00ca95;
	background: linear-gradient(50deg,#00ca95 29%,#00a292);
	color: #fff !important;
	border: 0;
	font-size: 16px;
}

/* .icon-lg {
	width: 40px;
	height: 40px;
} */


/*
 * Base structure
 */

html,
body {
  height: 100%;

}

body {
  display: -ms-flexbox;
  display: flex;
}
.darktheme {
	color: #fff;
}

.darktheme.bg {
	background-color: #222;
  background-position: 50%!important;
  background-repeat: no-repeat!important;
  background-size: cover!important;
	box-shadow: inset 0 0 15rem 15rem rgba(0, 0, 0, .7), inset 0 0 100rem 100rem rgba(0, 0, 0, .4);
}

h1,
h2 {
	font-weight: bold;
}

/* Nav-tabs */
.nav-tabs .nav-link {
  padding: .5rem 0;
  margin-right: 20px;
	color: #6c757d;
	border-radius: 0;
}
.nav-tabs .nav-link:hover {
	border-color: transparent;
	border-bottom: 2px solid #6c757d;
}
.nav-tabs .nav-link.active {
	background: transparent;
	border-color: transparent;
	border-bottom: 2px solid #333;
}



/*
 * Home
 */
.home-content {
	margin-bottom: 160px;

	@media (min-width: 768px) {
		margin-bottom: 80px;
	}
}
.home-heading {
	font-size: 4em;
	line-height: .9;
	margin-bottom: 10px;
	font-weight: 900;
}
.home-heading span {
	width: 348px;
	height: 80px;
	display: inline-block;
	position: relative;
	background: url(../images/Brand@3x_white.png) transparent 0 0 no-repeat;
	background-size: contain;
	text-indent: -1000%;
	bottom: 8px;
}
.height_full_viewport {
	height: 100vh!important;
	height: calc(var(--vh, 1vh) * 100) !important;
	width: 100%;
}

/*
 * Bottom homepage
 */
 .bottom_images {
	position: absolute;
	bottom: 24px;
	z-index: 100;
	right: 0;
	margin-right: 0!important;
	margin-left: 0!important;
	padding-bottom: 0!important;
 }
	.background-image-holder {
		border-radius: 8px;
		position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover!important;
    background-position: 50% 50%!important;
    z-index: -1;
    opacity: 1;
	 }
	.box-container {
		height: 200px;
		width: 340px;
		transition: opacity .3s,transform .3s,margin-top .3s;
	}
	.image-caption {
		overflow: hidden;
	  position: absolute;
	  background: #fff;
	  width: 92%;
	  bottom: 0;
	  border-radius: 8px;
	  left: 0;
	  right: 0;
	  margin: 0 auto -12px;
	  box-shadow: .3s opacity;
	  box-shadow: 0 6px 12px rgba(0,0,0,.23), 0 10px 40px rgba(0,0,0,.19);
	}
	.image-info {
		position: relative;
		display: flex;
		align-items: flex-end;
		padding: 8px 16px;
	}
.image-info .image-title {
		flex-grow: 6;
	  transform: translate3d(0,24px,0);
	  transition: opacity .3s,transform .3s,margin-top .3s;
	  margin-top: -24px;
	}
	.image-info figure {
		margin-bottom: 8px;
	}
	/* .image-info h4 {
		margin-bottom: 0;
	} */
	.label-image {
		font-size: 13px;
    color: #85858b;
    margin-bottom: 4px;
    letter-spacing: 1px;
    text-transform: uppercase;
		font-weight: 400;
		line-height: 1.5;
	}
	.box-container .image-caption .image-info .image-title p {
    opacity: 1;
    transform: translate3d(0,30px,0);
    transition: opacity .3s,transform .5s,visibility .3s;
    margin: 0;
    opacity: 0;
    visibility: hidden;
    font-weight: 500;
    color: #da8c0c;
	}
	.box-container:hover .image-info .image-title,
	.box-container:hover .image-info .image-title p {
    margin-top: 0;
    opacity: 1;
    transform: translateZ(0);
    visibility: visible;
	}

	.tab-pane {
		position: relative;
	}


/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}


/*
 * Section
 */
	.section {
    position: relative;
    padding-top: 40px;
		padding-bottom: 40px;
	}
	@media (min-width: 768px) {
.section {
    padding-top: 60px;
		padding-bottom: 60px;
	}
}
@media (min-width: 992px) {
	.section {
    padding: 80px 0;
	}
}
