.gallery-container {
    background-color: #fff;
    color: #35373a;
    /* min-height: 100vh; */
    padding: 30px;
}

.gallery-container h1 {
    text-align: center;
    margin-top: 50px;
    /* font-family: 'Droid Sans', sans-serif; */
    font-weight: bold;
}

.gallery-container p.page-description {
    text-align: center;
    margin: 25px auto;
    font-size: 18px;
    color: #999;
}

.tz-gallery {
    padding: 0 13px;
}

/* Override bootstrap column paddings */
.tz-gallery .row > div {
    padding: 10px;
}
.tz-gallery .lightbox {
	width: 100%;
	padding-bottom: 75%;
	display: block;
	position: relative;
	height: 100%;
}
.tz-gallery .lightbox img,
.tz-gallery .lightbox > div {
    width: 100%;
    position: absolute;
		border-radius: 8px;
}

.tz-gallery .lightbox > div {
	background-size: cover!important;
	background-position: 50% 50%!important;
	height: 100%;
}

.tz-gallery .lightbox:before {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -13px;
    margin-left: -13px;
    opacity: 0;
    color: #fff;
    font-size: 26px;
    font-family: 'Glyphicons Halflings';
    content: '\e003';
    pointer-events: none;
    z-index: 9000;
    transition: 0.4s;
		border-radius: 12px;
}


.tz-gallery .lightbox:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(46, 132, 206, 0.7);
    content: '';
    transition: 0.4s;
		border-radius: 12px;
}

.tz-gallery .lightbox:hover:after,
.tz-gallery .lightbox:hover:before {
    opacity: 1;
}

.baguetteBox-button {
    background-color: transparent !important;
}

@media(max-width: 768px) {
    body {
        padding: 0;
    }
}

#baguetteBox-overlay .full-image img {
	border-radius: 8px;
}
