@media (min-width: 701px) {
	.gallery {
		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 3;
		-webkit-column-width: 33%;
		-moz-column-width: 33%;
		column-width: 33%;
	}
}

@media (max-width: 700px) {
	.gallery {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
		-webkit-column-width: 50%;
		-moz-column-width: 50%;
		column-width: 50%;
	}
}

@media (max-width: 500px) {
	.gallery {
		-webkit-column-count: 1;
		-moz-column-count: 1;
		column-count: 1;
		-webkit-column-width: 100%;
		-moz-column-width: 100%;
		column-width: 100%;
	}
}



.gallery .pics {
	-webkit-transition: all 350ms ease;
	transition: all 350ms ease;
}

.gallery .animation {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

@media (max-width: 400px) {
	.btn.filter {
		padding-left: 1.1rem;
		padding-right: 1.1rem;
	}
}
