.author_social_link {
	display: flex;
	float: right;
	width: 90px;
}
.author_social_link figure {
  margin-right: 10px;
}
.icon-small {
  width: 24px;
  height: 24px;
}

.big-image {
	position: relative;
}
.bottom-image {
	background: url(./images/caravan.jpg);
	min-height: 500px;
	width: 100%;
	background-size: cover!important;
	background-position: 50% 50%!important;
}
.image-caption a {
	 color: #333;
	 text-decoration: none;
	 text-shadow: none;
}
.image-caption-about {
	position: relative;
	padding: 30px 30px 40px;
  position: absolute;
  right: 40px;
  top: 40px;
  width: 40%;
	background: #fff;
  padding: 30px 30px 40px;
	margin: 0 0 10px auto;
  margin-left: auto;
  bottom: auto;
  height: auto;
	border-radius: 8px;
	box-shadow: 0 6px 12px rgba(0,0,0,.23), 0 10px 40px rgba(0,0,0,.19);
}
.bus-original {
	min-height: 400px;
	position: relative;
}
.bus-old-images {
	background-size: cover!important;
	background-position: 50% 50%!important;
	height: 100%;
	width: 45%;
	display: block;
	right: 0;
	background: red;
	position: absolute;
}
.original-bus-image .tab-content {
	box-shadow: 0 8px 24px 0 rgba(0,0,0,.08);
}
.original-bus-image .tab-content,
.original-bus-image .tab-pane {
	height: 100%;
}
.original-bus-image .tab-pane {
	background-size: cover!important;
	background-position: 50% 50%!important;
	border-radius: 8px;
	margin-top: -10px;
	min-height: 300px;
}
.original-bus-image img {
	position: absolute;
	right: 0;
	top: 0;
	max-height: 480px;
	max-width: calc(50% - 30px);
}
@media (max-width: 992px) {
	.original-bus-image img {
		min-width: 100%;
		/* max-width: unset; */
		max-height: unset;
		position: relative;
	}
}
.original-bus-image .tab-content {
	width: 100%;
}
.image-toggle {
	z-index: 9;
	top: -10px;
}
.photo-credit {
	position: absolute;
  right: 10px;
	text-align: right;
  margin-left: auto;
  padding: 5px 10px;
  font-size: 11px;
  border-radius: 4px;
  color: #fff;
  background: #000;
	bottom: 0;
}

.background-image-holder {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover!important;
    background-position: 50% 50%!important;
    z-index: -1;
    opacity: 1;
    background-repeat: no-repeat;
	}
.about_background_holder {
	background-size: cover!important;
  background-position: 50% 50%!important;
  z-index: -1;
	height: 100%;
}
@media (min-width: 992px) {
.about_background_holder {
    background-size: 60%!important;
    background-position: 0!important;
    background-repeat: no-repeat!important;
	}
}
@media (min-width: 992px) {
.about_background_holder:after {
    content: "";
    right: 0;
    display: block;
    position: absolute;
    width: 60%;
    height: 100%;
    background-size: cover;
    background: #fff;
    background: linear-gradient(90deg,hsla(0,0%,100%,0),hsla(0,0%,100%,.95218) 25%,#fff 44%);
    z-index: -1;
	}
}

/*
* Member
*/
.member-selfie {
	width: 100%;
	height: 350px;
	background-size: cover;
	border-radius: 8px;
	margin-bottom: 50px;
}
.member-about {
	background: #fff;
	position: relative;
	box-shadow: 0 8px 24px 0 rgba(0,0,0,.08);
	padding: 16px 16px 8px;
	margin-top: -70px;
	left: 0;
	border-radius: 0 0 16px 16px;
}
@media (min-width: 768px) {
	.member-about {
		left: 16px;
		border-radius: 16px;
	}
}
.member-about h5 {
	margin-bottom: 0;
}
.member-about p {
	font-size: 14px;
	color: #82818d;
	letter-spacing: -.1px;
}

.hero {
  position: relative;
  width: 100%;
  min-height: 400px;
  overflow: hidden;
  display: flex;
  height: 100%;
	margin-bottom: 80px;
}
.skewbg-reverse {
	background-size: contain;
	width: 100%;
	height: 100%;
	transform: skew(-15deg);
	background: linear-gradient(90deg,hsla(0,0%,100%,0),hsla(0,0%,100%,.95218) 25%,#fff 44%);
}
.hero-section.left-section {
	min-height: 400px;
	background-size: cover;
}
.hero-section.right-section {
	z-index: 1;
}
.selling-page-hero-title {
  max-width: 600px;
  text-align: center;
  margin: 0 auto;
  padding: 0 24px;
}
.left-section {
	width: 670px;
	border-radius: 8px 0 0 8px;
}
.right-section {
	/* width: 35%; */
	position: relative;
	padding-top: 10%;
	border-radius: 0 8px 8px 0;
}
.right-section, .skew:before {
	background: #ebf2e3;
}
.skew {
	position: absolute;
	display: flex!important;
	align-items: center;
	height: 100%;
	width: 60%;
	flex-wrap: wrap;
	z-index: -1;
	top: 0;
	right: 60%;
	background: #ebf2e3;
	transform: skew(15deg);
}
.selling-page-hero-title {
	text-align: left;
	padding: 0 25% 0 0;
}
@media (min-width: 992px) {
	.selling-page-hero-title {
    text-align: left;
    padding: 0 30% 0 0;
	}
}

.log-number {
	font-size: 100px;
	font-weight: bold;
	padding-top: 10px;
	padding-left: 16px;
	line-height: 1;
	color: rgba(255, 255, 255, 0.8);
}

#baguetteBox-overlay .full-image figcaption {
	padding: 50px;
}
