/*
 * Header
 */
 .header {
	 content: "";
	 left: 0;
	 display: block;
	 position: absolute;
	 width: 100%;
	 background-size: cover;
	 top: 0;
	 z-index: 99;
}
.header_shadow {
 /* background-image: linear-gradient(180deg,#000 0,rgba(0,0,0,.987) 8.1%,rgba(0,0,0,.951) 15.5%,rgba(0,0,0,.896) 22.5%,rgba(0,0,0,.825) 29%,rgba(0,0,0,.741) 35.3%,rgba(0,0,0,.648) 41.2%,rgba(0,0,0,.55) 47.1%,rgba(0,0,0,.45) 52.9%,rgba(0,0,0,.352) 58.8%,rgba(0,0,0,.259) 64.7%,rgba(0,0,0,.175) 71%,rgba(0,0,0,.104) 77.5%,rgba(0,0,0,.049) 84.5%,rgba(0,0,0,.013) 91.9%,transparent); */
}

.masthead {
  margin: 0 3rem 2rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
}
@media (max-width: 900px) {
	.masthead {
		height: 90px;
		margin: 0;
	}
}
.masthead-brand {
  margin-bottom: 0;
	position: absolute;
	display: flex;
	top: 0;
	left: 0;
	align-items: center;
	margin-top: 22px;
	margin-left: 20px;
	transition: .2s linear;
}
@media (min-width: 574px) {
	.masthead-brand {
		margin-left: 36px;
	}
}
.masthead-brand a {
	width: 174px;
	height: 40px;
	display: block;
	position: relative;
	background: url(../images/brand/Brand@3x_white.png) transparent 0 0 no-repeat;
	background-size: contain;
	text-indent: -1000%;
}
.light-theme .masthead-brand a {
	background: url(../images/brand/Brand@3x_dark.png) transparent 0 0 no-repeat;
	background-size: contain;
}

.nav-masthead {
	display: none;
}
@media (min-width: 900px) {
	.nav-masthead {
    padding: 0;
		display: flex;
		justify-content: flex-end;
	}
}

.nav-masthead .nav-link {
  padding: 30px 0;
  font-weight: 500;
  color: rgba(0, 0, 0, .5);
  background-color: transparent;
  border-bottom: 10px solid transparent;
	display: block;
	position: relative;
	padding: 1.8rem .5rem 1rem;
	font-size: 1.1em;
	letter-spacing: 1px;
	font-family: Geomanist Book,Arial,sans-serif;
	opacity: 1;
	transition: color .2s;
	/* height: 3px;
	line-height: 0; */
}
.nav-masthead .nav-link:after {
	content: " ";
  height: 14px;
	width: 0px;
  position: absolute;
  left: 0;
	top: 40px;
  z-index: -1;
	transition: width .3s;
}
.nav-menu .nav-link {
	border-radius: 4px;
}
.nav-menu .nav-link:hover {
	color: rgba(255, 255, 255, 0.8);
}
.darktheme .nav-masthead .nav-link {
	color: rgba(255, 255, 255, .5);
}
.darktheme .nav-masthead .nav-link:hover:after {
	background: #333;
}
.darktheme .nav-masthead .nav-link:hover,
.darktheme .nav-masthead .nav-link:focus {
	color: rgba(255, 255, 255, .8);
}
.light-theme .nav-masthead .nav-link:hover,
.light-theme .nav-masthead .nav-link:focus {
	color: rgba(0, 0, 0, .8);
}
.nav-masthead .nav-link:hover:after,
.nav-masthead .nav-link:focus:after {
  background: #a6c3c1;
	width: 60px;
}
.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

/* dark theme */
.index .darktheme .nav-masthead .index,
.contact .darktheme .nav-masthead .contact,
.projects .darktheme .nav-masthead .projects,
.logbook .darktheme .nav-masthead .logbook,
.album .darktheme .nav-masthead .album {
  color: #fff;
  /* border-bottom-color: #fff; */
}
.index .darktheme .nav-masthead .index,
.contact .darktheme .nav-masthead .contact,
.projects .darktheme .nav-masthead .projects,
.logbook .darktheme .nav-masthead .logbook,
.album .darktheme .nav-masthead .album {
  color: #fff;
  /* border-bottom-color: #fff; */
}
.index .darktheme .nav-masthead .index:after,
.contact .darktheme .nav-masthead .contact:after,
.projects .darktheme .nav-masthead .projects:after,
.logbook .darktheme .nav-masthead .logbook:after,
.album .darktheme .nav-masthead .album:after {
  background: #333;
	width: 60px;
}

/* light theme */
.logbook .nav-masthead .logbook,
.about .nav-masthead .about,
.album .nav-masthead .album {
	color: #000;
  /* border-bottom-color: #000; */
}
.logbook .nav-masthead .logbook:after,
.about .nav-masthead .about:after,
.album .nav-masthead .album:after {
  background: #a6c3c1;
	width: 60px;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}

.nav-trigger {
  position: absolute;
  top: 8px;
  right: 10px;
  height: 60px;
  width: 60px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  color: transparent;
  z-index: 9;
}
@media (min-width: 900px) {
	.nav-trigger {
		display: none;
	}
}
.nav-trigger span {
  left: 60%;
  top: 50%;
  bottom: auto;
  right: auto;
  transform: translateX(-50%) translateY(-50%);
  transition: background-color .3s;
}
.nav-trigger span,
.nav-trigger span:after,
.nav-trigger span:before {
  position: absolute;
  background-color: #fff;
  height: 2px;
  width: 36px;
}
.nav-trigger span:after,
.nav-trigger span:before {
  content: "";
  left: 0;
  transition: transform .3s;
	width: 24px;
}
.nav-trigger span:before {
  transform: translateY(-9px);
}
.nav-trigger span:after {
  transform: translateY(9px);
}

.light-theme .nav-trigger span,
.light-theme .nav-trigger span:after,
.light-theme .nav-trigger span:before {
	background-color: #222;
}
.show + .nav-trigger span,
.show + .nav-trigger span:after,
.show + .nav-trigger span:before {
	background-color: #FFF;
}
.show + .nav-trigger span {
	background-color: transparent;
}
.show + .nav-trigger span:before {
	transform: rotate(45deg);
}
.show + .nav-trigger span:after {
	transform: rotate(-45deg);
}

.nav-menu {
	right: 10px;
	z-index: 3;
	position: absolute;
	width: calc(100% - 20px);
	top: 10px;
	border-radius: 8px;
	height: 56px;
}
.nav-menu .nav-link {
	display: none;
}
.show .nav-menu {
	width: calc(100% - 20px);
	height: auto;
}
.show .nav-menu .nav-link {
	display: block;
}
@media (min-width: 900px) {
	.nav-menu {
		display: none;
	}
}
.nav-menu a {
	color: #fff;
}
.masthead .nav-menu {
	opacity: 0;
	-webkit-transition: opacity 0.2s ease-in;
  -moz-transition: opacity 0.2s ease-in;
  -o-transition: opacity 0.2s ease-in;
  -ms-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}
.masthead .show .nav-menu {
	opacity: 1;
}
